<?xml version="1.0" encoding="utf-8" ?>
<!--
/**
 * @package Intelipost\Shipping
 * @copyright Copyright (c) 2021 Intelipost
 * @license https://opensource.org/licenses/OSL-3.0.php Open Software License 3.0
 */
-->

<config>
    <event name="sales_order_place_after">
        <observer name="intelipost_shipping_sales_order_place_after" instance="Intelipost\Shipping\Observer\Sales\OrderPlaceAfter"/>
    </event>
</config>

